.container {
  text-align: center;
}

.seasonSelector {
  margin-bottom: 20px;
}

.weatherSelector {
  margin-bottom: 20px;
}

.waterColorSelector {
  margin-bottom: 20px;
}

.results {
  padding-bottom: 200px;
}